= render "intro"

= react_component 'compute.Instances',
  items: @instances,
  search_url: plugin('compute').instances_url,
  name: 'instances',
  searchFields: ['name'],
  has_next: @pagination_has_next,
  permissions: {can_create: current_user.is_allowed?("compute:instance_create", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}}) },
  root_url: plugin('compute').instances_url,
  all_projects: @all_projects

-# - if @scoped_project_id
-#   .toolbar
-#     =# react_component 'ajax_search.AppProvider',url: plugin('compute').instances_url,fields: ['id','name','status'],items: @instances,show_url: plugin('compute').instance_url('ID')
-#
-#     - if current_user.is_allowed?("compute:instance_create", {target: { project: @active_project, scoped_domain_name: @scoped_domain_name}})
-#       = link_to 'Create new', plugin('compute').new_instance_path, data: {modal: true}, class: 'btn btn-primary btn-lg'
-#
-#   %table.table.instances
-#     %thead
-#       %tr
-#         %th Name
-#         - if @all_projects
-#           %th Owning Project
-#         %th
-#           AZ
-#           %i.fa.fa-fw.fa-info-circle{data: { toggle: "tooltip", placement: "top", title: "Availability Zone"}}
-#         %th IPs
-#         %th OS
-#         %th Size
-#         %th Power state
-#         %th Status
-#         %th Created at
-#         %th.snug
-#     %tbody
-#       - if @instances.empty?
-#         %tr{data: {empty: true}}
-#           %td{colspan: 8} No instances available
-#       - else
-#         - @instances.each do | instance |
-#           =# render partial: 'item', locals: {instance: instance}
-#
-#   =# render_paginatable(@instances)
-# - else
-#   =# render "application/projects_list"
